* {
  box-sizing: border-box;
}

body {
  margin: 0
}

.list__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  list-style: none;
}

.list__item{
  background: #f2690d;
  border: 1px solid black;
  border-radius: 25px;
  width: 250px;
}

.item__link{
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.item__house {
  font-size: 14px;
  color: white;
}

.item__img{
  width: 250px;
  height: 350px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}