* {
  box-sizing: border-box;
}

body {
  margin: 0
}

.main__title{
  text-align: center;
  font-size: 40px;
}

.input__container{
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.list__container{
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    @media all and (min-width:768px) {
      margin-left: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
  }
    @media all and (min-width: 1200px){
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 15px;
    }
}

.list__item{
  background: #f2690d;
  border: 1px solid black;
  border-radius: 25px;
  width: 250px;
  margin-bottom: 10px;
  @media all and (min-width:768px) {
  margin: 0;
  }
}

.item__link{
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.item__name{
  text-align: center;
}

.item__house {
  font-size: 14px;
  color: white;
  text-align: center;
}

.item__img{
  width: 250px;
  height: 350px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.card__container{
  display: flex;
  justify-content: center;
}

.card__detail{
  display: flex;
  text-align: center;
  margin: 20px 0;
  border-radius: 20px;
  width: 500px;
  background: #f2690d;
}

.detail__name{
  margin: 0;
  font-size: 20px;
  padding: 20px 20px 0 20px;
}

.detail__house{
  padding: 8px 0 0 8px;
}

.detail__year{
  padding: 8px 0 0 8px;
}

.detail__patronus{
  padding: 8px 0 0 8px;
}

.detail__alive{
  padding: 8px 0 0 8px;
}

.detail__content{
  color: white; 
}

.detail__return{
  background: #f2690d;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 250px;
  margin: 0 auto;
}

.detail__img{
  width: 300px;
  height: 450px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.gryffindor {
  width: 100px;
  height: 100px;
  background: url('./images/gryffindor.jpg') center center no-repeat;
  background-size: cover;
  border-radius: 20px;
  margin: 30px;
  margin: 0 auto;
}

.slytherin {
  width: 100px;
  height: 100px;
  background: url('./images/slytherin.jpg') center center no-repeat;
  background-size: cover;
  border-radius: 20px;
  margin: 0 auto;
}

.ravenclaw {
  width: 100px;
  height: 100px;
  background: url('./images/ravenclaw.jpg') center center no-repeat;
  background-size: cover;
  border-radius: 20px;
  margin: 0 auto;
}

.hufflepuff {
  width: 100px;
  height: 100px;
  background: url('./images/hufflepuff.jpg') center center no-repeat;
  background-size: cover;
  border-radius: 20px;
  margin: 0 auto;
}